body {
  font-family: 'Press Start 2P', cursive;
  background-image: url("../images/diamonds.png");
  font-size: 15px;
}

p{
   background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text
}

img {
  height: 200px;
}

.header {
  font-family: 'Bungee Inline', cursive;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color: black;
  font-size: 35px;
  width: 45%;
  padding: 10px;
}

.instructions {
  background: white;
  width: 45%;
}

.random {
    background: teal;
    width: 10%;
    padding: 25px;
    font-size: 22px;
}
.winlosCount {
  background: green;
  width: 21%;
  padding: 14px;
  font-size: 22px;
}

.total {
  background: black;
  width: 30%;
}

.score {
  background: grey;
  width: 30%;
  padding: 50px;
  font-size: 50px;
}

h6 {
  margin: 0 auto;
  font-size: 5px;
}